<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
{% if not user.is_authenticated %}
Login
    <form action="/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
{% else %}
    You are already logged. How can you logout?
{% endif %}
</body>
</html>
